html, body {
    background-image: url("../images/2147499216/05-01.jpg");
    background-size: 300px;
    color: #fff;
    height: 100%;
    font-family: 'Mountains of Christmas'!important;
}




.wichtel_header{

    text-align: center;
    background: white;
    padding: 10px;
    margin-bottom: 10px;
}


.user_and_password {
    color: firebrick;
}

.failure {
    background: white;
    padding: 5px;
}

.form-signin{
    min-width: 300px;
    padding:2%;
    max-width:700px;
    margin:0 auto;
    min-height: 100%;
}

.input-elements *{
    margin-bottom:10px;
}

input {
    line-height: 30px;
    font-size: 30px;
}

.signature {
    width: 200px;
}

.weihnachtsmann {
    display: block;
    margin: 0 auto;
    width: 200px;
    filter: drop-shadow(1px 1px 0px black)
}

.weihnachtsbutton{
    background-color:#541113;
    color:white;
}

.weihnachtsbutton:hover{
    color:white!important;
    background: #A8383B;
}

/* enable absolute positioning */
.inner-addon {
    position: relative;
}

/* style icon */
.inner-addon .glyphicon {
    position: absolute;
    padding: 10px;
    pointer-events: none;
}

/* align icon */
.left-addon .glyphicon  { left:  0px;}
.right-addon .glyphicon { right: 0px;}

/* add padding  */
.left-addon input  { padding-left:  30px; }
.right-addon input { padding-right: 30px; }

#candle{
    position:fixed;
    bottom:0px;

    height:30%;
}