<!DOCTYPE html>
<html>
<head>
	<!--http://paletton.com/#uid=15C0u0kllllcz++gXw0pJaGu700-->
	<title>Wichteln - Weihnachten 2016</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">

	
	<!-- Latest compiled and minified CSS -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

	<script type="text/javascript" src="{{ url_for('static', filename='scripts/logic.js') }}"></script>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheets/styles.css') }}">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

	<!--FONT-->
	<link href="https://fonts.googleapis.com/css?family=Mountains+of+Christmas" rel="stylesheet">

</head>
<body>
	<div class="main-container">
		{% for key, value in userlist.iteritems() %}

		<div class="form-signin">
			<div class="input-elements">
				<div class="wichtel_header"><h1>Hallo {{key|e}}!</h1> Ich überbringe dir wie letztes Jahr diese versiegelte Nachricht, die deine Wichtelpartner beinhaltet. Bitte gehe auf die Webseite und nutze folgende Anmeldedaten, um zu erfahren, wer deine Partner sind! <br><h1 class="user_and_password">Nutzername: {{key|e}}, Passwort: {{value|e}}</h1><br>Viele Grüße!<br><img src="https://img0.etsystatic.com/056/0/5170423/il_570xN.683635798_603o.jpg" class="signature"></div>
				<img src="{{ url_for('static', filename='images/weihnachtsmann.svg') }}" class="weihnachtsmann">
			</div>
		</div>
		{% endfor %}
	</div>
</body>
</html>
